The Canadian federal budget for the fiscal years of 2023–24 was presented to the House of Commons by Finance Minister Chrystia Freeland on 28 March 2023.[2] The budget was meant to reflect Prime Minister Justin Trudeau's stated policy objective to "make life more affordable for Canadians"[3] while also reducing government expenditures.

The 2023 budget is the seventh budget document introduced in the House of Commons under the premiership of Justin Trudeau. It comes at the heel of the first anniversary of the Russian invasion of Ukraine, following which Canada sent one billion dollars in military aid to Ukraine.[5]

United States President Joe Biden's Inflation Reduction Act of 2022 included unprecedented investments in initiatives aimed at promoting Green growth. Canada was expected to announce similar investments in its 2023 budget in order to remain competitive with its southern neighbour.[6]

On 22 June 2023, all parts of the budget received Royal assent, and became law.[7]

The budget included $43B in net new spending over six years,[8] including $20B for a new 15 per cent refundable tax credit to promote investment in green technologies.[9] $13B was also allocated to implement a means-tested dental care program, a policy originating in the NDP-Liberal deal of 2022.[8] The Canadian Dental Care Plan began rollout in December 2023.[10]

The budget introduced a "grocery rebate" of up to $467 for eligible families and up to $234 for eligible single people with no kids. The Canada Student Grants also saw a 40% increase in funding.[11]

Freeland issued $15B of spending cuts, achieved by defunding public services and cancelling previously announced programs.[12] A new tax 2% on stock buybacks was also introduced.[11]

The budget created the government's First Home Savings Account (FHSA), offering tax savings for first-time buyers, and budgeted roughly $925 million in 2023–2024 for the "housing accelerator fund," an incentive announced in Budget 2022 to encourage municipalities to make home construction easier.[13]

The budget relaxed Canada's strict rules on foreign home buying, and have given more foreign stake in developing commercial real estate. They also relaxed conditions of home buying for temporary work-permit holders and international students. This is a partial reversal of the proposed two-year ban on home buying by non-Canadians for increasing housing affordability and decreasing inflation. The ban was supposed to start by January 1, 2023 and be on effect till 2025.[14]

Reactions
Conservative party leader Pierre Poilievre strongly criticized the budget, arguing it included too much new spending and that such policy would result in higher inflation. The leader of the Official Opposition also stated that the housing measures announced in the budget were insufficient to solve the housing crisis.[11] Poilievre also stated that the party would not vote for the budget.

NDP leader Jagmeet Singh praised the budget as the "biggest expansion of our health care in a generation", and stated NDP MPs would vote in its favour.[11]

On the contrary, both Bloc Québécois leader Yves-François Blanchet and Green Party leader Elizabeth May believed the budget did not increase health care spending enough. They also expressed doubts concerning the new green investments tax credit, arguing there was no proof they would be actually used to fund green projects and decried that they could be used by fossil fuel companies.[15]

These fears were shared by environmental organisations such as Greenpeace Canada, Environmental Defence Canada, the Climate Action Network and Équiterre. While they welcomes the new investments in Renewable energy, these groups were distraught by the government's plan to increase funding for Carbon capture and storage, arguing it is an unproven technology that is mostly used as propaganda by the petroleum industry to delay the reduction of its production. They also lamented the lack of investments in public transport.[16]
